*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
}

body {
    background-color: #7b2cbf;
}

span {
    display: inline-block;
}

a {
    text-decoration: none;
    display: inline-block;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.brand__heading {
    font-family: 'Monomaniac One', sans-serif;
    font-size: 3rem;
    color: white;
    margin: 10px auto;
}

.sub__header {
    font-family: 'Monomaniac One', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
    margin: 10px auto;
    border: 2px solid #00DFA2;
    border-bottom-width: 5px;
    border-left-width: 3px;
}

/* FAKE INPUT */

.upload__file__wrapper {
    background-color: #f7fff7;
    padding: 30px 60px;
    border-radius: .275rem;
    width: 600px;
}

.drag__file__area {
    border: 2px dashed #7b2cbf;
    border-radius: .275rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 60px;
}

.icon__upload {
    font-size: 30px;
    color: black;
}

.dynamic__message {
    font-size: 20px;
    font-weight: 500;
    margin: 5px auto 15px;
    color: black;
}

.label__browse__file {
    color: #7b2cbf;
    font-weight: 700;
    cursor: pointer;
}

.input__browse__file {
    display: none;
}

.file__wrapper {
    display: none;
    align-items: center;
    justify-content: space-between;
    background-color: #7b2cbf;
    margin-top: 20px;
    color: white;
    border-radius: 25px;
}

.file__info {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.file__icon {
    font-size: 20px;
}

.file__name {
    font-size: 12px;
}

.file__remove {
    background-color: red;
    height: 100%;
    padding: 10px;
    color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.file__remove i {
    font-size: 18px;
}

.upload__button {
    background-color: #7b2cbf;
    width: 100%;
    margin-top: 20px;
    color: white;
    padding: 10px 20px;
    border-radius: .275rem;
    cursor: pointer;
    text-align: center;
}

/* NAVBAR */
.navbar {
    height: 56px;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: rgba(255, 255, 255, .2);
    border-bottom: 1px solid white;
}

.navbar__container {
    display: flex;
    align-items: center;
}

.brand__logo {
    font-family: 'Monomaniac One', sans-serif;
    font-size: 2rem;
    color: white;
    margin: 10px 50px 10px 0;
}

.navbar__list {
    display: flex;
    column-gap: 20px;
}

.navbar__item {
    list-style: none;
}

.navbar__item a {
    color: white;
}

.navbar__item:hover a {
    color: #00DFA2;
}

/* CONTENT */
.table__wrapper {
    height: calc(100vh - 150px);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.table {
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
}

.table tbody tr:nth-child(odd) {
    background-color: #ECE9E9;
}

.table tbody tr:nth-child(even) {
    background-color: #F9F8F8;
}

.table th {
    text-align: center;
    padding: 15px 10px;
    color: white;
    white-space: nowrap;
    background-color: #11009E;
    border-bottom: 3px solid #00DFA2;
    position: sticky;
    top: 0;
}

.table td {
    padding: 8px 10px;
    color: #16213E;
}

/* EVALUATION */
.evaluation_wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 0.75rem;
}

.evaluation_result .sub__header {
    text-align: center;
}

.evaluation_result {
    width: 50%;
}

.result__content {
    font-weight: 500;
    margin: 10px 0;
}

.classification__result__table {
    border-collapse: collapse;
    width: 100%;
}

.classification__result__table th, .classification__result__table td {
    text-align: center;
}

.row__invisible {
    color: transparent;
}

/* INPUT DATA */
.form__wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 0.75rem;
}

.form__content {
    width: 100%;
}

.input__wrapper {
    margin: 10px 0;
}

.input__label {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
}

.input__data {
    outline: none;
    border: 1px solid #F9F8F8;
    background-color: white;
    border-radius: .275rem;
    color: black;
    padding: 5px 10px;
    font-weight: 700;
    width: 100%;
}

.submit__button {
    background-color: #FFFFFF;
    width: 100%;
    margin-top: 20px;
    font-weight: 800;
    color: #7b2cbf;
    padding: 10px 20px;
    border-radius: .275rem;
    cursor: pointer;
    text-align: center;
}