{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'navbar.html' %}
<div class="container-fluid">
    <h1 class="brand__heading">Evaluation Result</h1>
    <div class="evaluation_wrapper">
        <div class="evaluation_result">
            <h4 class="sub__header">Confusion Matrix</h4>
            <p style="margin-top: 10px; font-weight: 500;">[</p>
            {% for cm in confusion_matrix %}
                <p style="margin: 5px 0; font-weight: 500; text-indent: 1rem;">{{ cm }}</p>
            {% endfor %}
            <p style="margin-bottom: 10px; font-weight: 500;">]</p>
            <p class="result__content">
                <span style="width: 150px;">True Positives(TP)</span> = {{ confusion_matrix.0.0 }}
            </p>
            <p class="result__content">
                <span style="width: 150px;">True Negatives(TN)</span> = {{ confusion_matrix.1.1 }}
            </p>
            <p class="result__content">
                <span style="width: 150px;">False Positives(FP)</span> = {{ confusion_matrix.0.1 }}
            </p>
            <p class="result__content">
                <span style="width: 150px;">False Negatives(FN)</span> = {{ confusion_matrix.1.0 }}
            </p>
        </div>
        <div class="evaluation_result">
            <h4 class="sub__header">Classification Report</h4>
            <table class="classification__result__table">
                <thead>
                    <tr>
                        <th class="result__content"></th>
                        <th class="result__content">precision</th>
                        <th class="result__content">recall</th>
                        <th class="result__content">f1-score</th>
                        <th class="result__content">support</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="5" class="result__content row__invisible">invisible</td>
                    </tr>
                    <!-- Filter get_type dipakai di sini dengan value sebagai parameter -->
                    {% for key, value in classification_report.items %}
                    {% if value|get_type == 'dict' %}
                            <tr>
                                <td class="result__content">{{ key }}</td>
                                {% for k, val in value.items %}
                                    <!-- Filter format_number dipakai di sini dengan val dengan parameter -->
                                    <td class="result__content">{{ val|format_number }}</td>
                                {% endfor %}
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5" class="result__content row__invisible">invisible</td>
                            </tr>
                            <tr>
                                <td class="result__content">{{ key }}</td>
                                <td class="result__content"></td>
                                <td class="result__content"></td>
                                <!-- Filter format_number dipakai di sini dengan value dengan parameter -->
                                <td class="result__content">{{ value|format_number }}</td>
                                <td class="result__content"></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}