{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center flex-column" style="height: 100vh;">
    <h1 class="brand__heading">Monthly Achievement</h1>
    <div class="upload__file__wrapper">
        <div class="drag__file__area">
            <i class='bx bx-cloud-upload icon__upload'></i>
            <h3 class="dynamic__message">Drag & drop any file here</h3>
            <div>
                <span style="color: black;">or</span>
                <label for="browse_file">
                    <span class="label__browse__file">browse file</span>
                    <input class="input__browse__file" type="file" name="browse_file" id="browse_file" />
                </label>
                <span style="color: black;">from device</span>
            </div>
        </div>
        <div class="file__wrapper" id="file_upload">
            <div class="file__info">
                <i class='bx bx-file-blank file__icon'></i>
                <span class="file__name">0 Kb File Not Found</span>
            </div>
            <button type="button" class="file__remove" id="file_remove">
                <i class='bx bx-trash'></i>
            </button>
        </div>
        <a href="{% url 'before_rasformasi' %}" class="upload__button">Upload</a>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/fake_input.js' %}"></script>
{% endblock %}