{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'navbar.html' %}
<div class="container-fluid">
    <h1 class="brand__heading">DI SINII{{ title_page }}</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="form__wrapper">
            <div class="form__content">
                <div class="input__wrapper">
                    <label for="tahun" class="input__label">Tahun</label>
                    <input type="text" name="tahun" id="tahun" class="input__data" />
                </div>
                <div class="input__wrapper">
                    <label for="bulan" class="input__label">Bulan</label>
                    <input type="text" name="bulan" id="bulan" class="input__data" />
                </div>
                <div class="input__wrapper">
                    <label for="trg_bln" class="input__label">Target Bulanan</label>
                    <input type="text" name="trg_bln" id="trg_bln" class="input__data" />
                </div>
                <div class="input__wrapper">
                    <label for="bln" class="input__label">Pendapatan Bulan Ini</label>
                    <input type="text" name="bln" id="bln" class="input__data" />
                </div>
            </div>
            <div class="form__content">
                <div class="input__wrapper">
                    <label for="air" class="input__label">Air</label>
                    <select name="air" id="air" class="input__data">
                        <option value="0">False</option>
                        <option value="1">True</option>
                    </select>
                </div>
                <div class="input__wrapper">
                    <label for="bphtb" class="input__label">BPHTB</label>
                    <select name="bphtb" id="bphtb" class="input__data">
                        <option value="0">False</option>
                        <option value="1">True</option>
                    </select>
                </div>
                <div class="input__wrapper">
                    <label for="hiburan" class="input__label">Hiburan</label>
                    <select name="hiburan" id="hiburan" class="input__data">
                        <option value="0">False</option>
                        <option value="1">True</option>
                    </select>
                </div>
                <div class="input__wrapper">
                    <label for="hotel" class="input__label">Hotel</label>
                    <select name="hotel" id="hotel" class="input__data">
                        <option value="0">False</option>
                        <option value="1">True</option>
                    </select>
                </div>
                <div class="input__wrapper">
                    <label for="mineral" class="input__label">Mineral</label>
                    <select name="mineral" id="mineral" class="input__data">
                        <option value="0">False</option>
                        <option value="1">True</option>
                    </select>
                </div>
            </div>
            <div class="form__content">
                <div class="input__wrapper">
                    <label for="parkir" class="input__label">Parkir</label>
                    <select name="parkir" id="parkir" class="input__data">
                        <option value="0">False</option>
                        <option value="1">True</option>
                    </select>
                </div>
                <div class="input__wrapper">
                    <label for="pbb" class="input__label">PBB</label>
                    <select name="pbb" id="pbb" class="input__data">
                        <option value="0">False</option>
                        <option value="1">True</option>
                    </select>
                </div>
                <div class="input__wrapper">
                    <label for="penerangan" class="input__label">Penerangan</label>
                    <select name="penerangan" id="penerangan" class="input__data">
                        <option value="0">False</option>
                        <option value="1">True</option>
                    </select>
                </div>
                <div class="input__wrapper">
                    <label for="reklame" class="input__label">Reklame</label>
                    <select name="reklame" id="reklame" class="input__data">
                        <option value="0">False</option>
                        <option value="1">True</option>
                    </select>
                </div>
                <div class="input__wrapper">
                    <label for="restoran" class="input__label">Restoran</label>
                    <select name="restoran" id="restoran" class="input__data">
                        <option value="0">False</option>
                        <option value="1">True</option>
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="submit__button">SUBMIT</button>
    </form>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/input_data.js' %}"></script>
{% endblock %}