<nav class="navbar">
    <div class="container-fluid navbar__container">
        <div class="brand__wrapper">
            <a href="{% url 'before_rasformasi' %}" class="brand__logo">Monthly Achievement</a>
        </div>
        <ul class="navbar__list">
            <!-- <li class="navbar__item">
                <a href="{% url 'fake_input' %}">Upload File</a>
            </li> -->
            <li class="navbar__item">
                <a href="{% url 'before_rasformasi' %}">Before Rasformasi</a>
            </li>
            <li class="navbar__item">
                <a href="{% url 'after_rasformasi' %}">After Rasformasi</a>
            </li>
            <li class="navbar__item">
                <a href="{% url 'evaluation_result' %}">Evaluation Result</a>
            </li>
            <li class="navbar__item">
                <a href="{% url 'input_data' %}">Input Data</a>
            </li>
        </ul>
    </div>
</nav>