{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'navbar.html' %}
<div class="container-fluid">
    <h1 class="brand__heading">{{ title_page }}</h1>
    <div class="table__wrapper">
        <table class="table">
            <thead>
                <tr>
                    {% for title in title_data %}
                        <th>{{ title }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for data in content_data %}
                    <tr>
                        {% for k, v in data.items %}
                            {% if k != 'index' %}
                                <td>{{ v }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}